doctype html
html
  head
    title CallTree测试
    link(rel="icon", href="http://kdt-static.qiniudn.com/v2/image/yz_fc.ico")
    link(rel="stylesheet", href="/css/index.css")
    script(src="/vendor/jquery-2.1.4.min.js")
    script(src="/js/index.js")
  body
    div.1.a
      div.1.b
        div.1.c


  script(src="index.js")